<h1><%= @list.name %></h1>
<ul>
<% @tasks.each do |task| %>
<h3><li>Current Task: <%= link_to task.title, task %>
<br></h3>

Complete Status: <%= task.complete %> </li>
<% end %>
</ul>


<%= render 'lists/form' %>
<%= link_to 'Back', list_path %>

