Current Task: <%= @task.title %>
<br>
<br>
Update current task below:
<br>
<br>


<%= form_for(@task) do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :complete %><br>
    <%= f.text_field :complete %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>




<ul>
<% @notes.each do |note| %>
<li>Current Task Note: <%= note.comment %>
</li>
<% end %>
</ul>
<%= link_to 'New Task', new_list_task_path(params[:id]) %>
<%= link_to 'Back', task_path %>

