<h3>Current Task: <%= @task.title %></h3>
<br>
<br>
<p class="headtext">Update current task below:</p>
<br>

<%= form_for(@task) do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :complete %><br>
    <%= f.text_field :complete %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<br>
<br>

<ul>
<% @notes.each do |note| %>
<h3><li>Current Task Note: <%= note.comment %> </h3>
</li>
<% end %>
</ul>
<%= link_to 'New Task', new_list_task_path(params[:id]) %>
<%= link_to 'Back', :back %>

